@{
    ViewBag.Title = "About";
}

<h2>@ViewBag.Title.</h2>


<div class="row">
    <div class="col-md-6">
        <br />
        <h2>
            Welcome,
            A new world of flavors.
        </h2>

        <p>Meet our new culinary experience. The finest raw materials and the touch of the chef's hand, creating a new culinary experience of aromas and flavors.</p>

        <p>We invite you to enjoy our new menu with a wide variety of new and upgraded dishes: the new breakfast club, starters, quality main courses, new salads, fresh pastas, shakshukas and sandwiches, pizzas and toasts, pampering children's meals and of course unforgettable desserts.</p>

        <p>The entertainment experience at the chain's branches provides the customers with an international standard, from good food, heart-to-heart service and a quality and enjoyable customer experience.</p>
    </div>
    <div class="col-md-6">
        <img src="~/Image/AboutUs.jpg" width="500" />
    </div>
</div>