@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner font" role="listbox">
            <div class="item active">
                <img src="~/Image/15638862700_e0f3e3a467_z.jpg" width="1000" height="200" />
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>

            <div class="item">
                <img src="~/Image/15204301893_9ca47a3bf7_z.jpg" width="1000" height="200" />
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>

            <div class="item">
                <img src="~/Image/15638862700_e0f3e3a467_z.jpg" width="1000" height="200" />
                <div class="carousel-caption">
                    <h3></h3>
                </div>
            </div>
        </div>

        <!-- Left and right controls -->
        <a href="#myCarousel" role="button" data-slide="prev">
            <!--<span class="glyphicon glyphicon-chevron" aria-hidden="true"></span>-->
            <span class="sr-only">Previous</span>
        </a>
        <a href="#myCarousel" role="button" data-slide="next">
            <!--<span class="glyphicon glyphicon-chevron" aria-hidden="true"></span>-->
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

